[submodule "custom/themes/powerlevel9k"]
	path = custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "custom/plugins/zsh-completions"]
	path = custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
